<div class="navbar">
  <div class="navbar-inner">
    <div class="navbar-left">
      <div class="logo-box">
        <span class="logo-text">LOGO</span>
      </div>
      <h1 class="nav-title">Tour Planner</h1>
    </div>
    <div class="navbar-right">
      <div class="icon-btn">
        <lucide-icon [img]="MenuIcon" [size]="20"></lucide-icon>
      </div>
      <button class="icon-btn" (click)="logout()">
        <lucide-icon [img]="LogOutIcon" [size]="20"></lucide-icon>
      </button>
    </div>
  </div>
</div>
